@using MediatR;
@using Polkanalysis.Domain.Contracts.Dto.Block;
@using Polkanalysis.Domain.Contracts.Primary;
@using Polkanalysis.Domain.Contracts.Primary.Result;
@using Polkanalysis.Domain.Contracts.Secondary.Repository;
@inject IMediator _mediator;

<div class="card">
    <div class="card-header">
        Details block n°@blockId
        <div class="card-action">
            <div class="dropdown">
                <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                    <i class="icon-options"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="javascript:void();">Export PDF</a>
                    <a class="dropdown-item" href="javascript:void();">Export Excel</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        @*<Data UseCaseData="@blockDetail">
            @if (blockDetail == null)
            {
                <Loader />
            }
            else
            {
                <span>Hash : @blockDetail.Value.Hash</span>

            }
        </Data>*@

    </div>
    <div class="table-responsive">
        <table class="table align-items-center">
            <tbody>
                <tr>
                    <td><i class="fa fa-circle text-white mr-2"></i> Direct</td>
                    <td>$5856</td>
                    <td>+55%</td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle text-light-1 mr-2"></i>Affiliate</td>
                    <td>$2602</td>
                    <td>+25%</td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle text-light-2 mr-2"></i>E-mail</td>
                    <td>$1802</td>
                    <td>+15%</td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle text-light-3 mr-2"></i>Other</td>
                    <td>$1105</td>
                    <td>+5%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter] public int? blockId { get; set; }
    //private BlockLightDto? blockDetail;
    private OperationResult.Result<BlockDto, ErrorResult>? blockDetail;

    protected override async Task OnInitializedAsync()
    {
        //await _blockRepository.GetBlockLightAsync(blockCommand.BlockHash, cancellationToken);
        //var blockUseCase = new Polkanalysis.Domain.UseCase.Explorer.Block.BlockDetailUseCase();
        //var result = await blockUseCase.ExecuteAsync(new BlockCommand((uint)blockId), CancellationToken.None));

        blockDetail = await _mediator.Send(new BlockDetailsCommand((uint)blockId));
        StateHasChanged();
    }
}
