@using Polkanalysis.Domain.Contracts.Dto.Parachain;
@using Polkanalysis.Domain.Contracts.Primary.Parachain;
@inject IMediator _mediator;

<div class="card-header">
    <i class="bi bi-hash"></i> Parachain
</div>
<div class="card-body">
    <DataMediator Request="request">
        <div class="row row-cols-2 row-cols-md-4 row-cols-sm-3 g-4">
            <ParachainItems Parachains="context" />
        </div>
    </DataMediator>
</div>


@code {
    private Task<Result<IEnumerable<ParachainLightDto>, ErrorResult>>? request;

    protected async override Task OnInitializedAsync()
    {
        request = _mediator.Send(new ParachainsQuery(), CancellationToken.None);
    }
}
