<div class="card-header">
    <i class="bi bi-hash"></i> Parachain
</div>
<div class="card-body">
    <div class="row">
        <div class="col text-center">
            TODO...
        </div>
    </div>
</div>


@code {

}
