<div class="card h-100">
    <div class="card-header">
        <i class="bi bi-hash"></i> Price Histo
    </div>
    <div class="card-body">
        <div class="row">
            TODO...
        </div>
    </div>
</div>

@code {

}
