@page "/accounts"
@using Polkanalysis.Domain.Contracts.Dto.User;
@using Polkanalysis.Domain.Contracts.Primary.Accounts;
@inject IMediator _mediator;

<DataCall MediatorReq="mediatorRequest" ApiReq="apiRequest" Context="Accounts">
    <Breadcrumb Elements="breadcrumbDtos" />

    <div class="card">
        <div class="card-body">
            <ComponentListView Elems="Accounts.Data" Context="cardAccount">
                <CardView>
                    <Polkanalysis.Components.Substrate.Account.Views.AccountItemCard Account="cardAccount" />
                </CardView>
                <TableView>
                    <Polkanalysis.Components.Substrate.Account.Views.AccountTable Accounts="cardAccount" />
                    @* <Table Elems="Accounts.Data" Context="tableAccount">
                        <ThContent>
                            <td scope="col">Address</td>
                            <td scope="col">Balance</td>
                            <td scope="col"></td>
                        </ThContent>
                        <TbodyContent>
                            <Polkanalysis.Components.Substrate.Account.Views.AccountItemTable Account="tableAccount" />
                        </TbodyContent>
                    </Table> *@
                </TableView>
            </ComponentListView>
        </div>
    </div>
</DataCall>

@code {
    private Task<Result<PagedResponseDto<AccountLightDto>, ErrorResult>>? mediatorRequest;
    private ApiRequest<PagedResponseDto<AccountLightDto>>? apiRequest;
    private IEnumerable<BreadcrumbDto> breadcrumbDtos = new List<BreadcrumbDto>()
    {
        new BreadcrumbDto("Accounts", "/accounts")
    };

    protected override void OnInitialized()
    {
        mediatorRequest = _mediator.Send(new AccountsQuery() { Pagination = new Domain.Contracts.Common.Pagination(1, 100)}, CancellationToken.None);
        apiRequest = new ApiRequest<PagedResponseDto<AccountLightDto>>(ApiRoutes.GetAccountsAsync);
    }
}
