@using Polkanalysis.Components.Services;
@using Polkanalysis.Domain.Contracts.Dto.User;

<Popover>
    <TogglePopoverContent>
        <a href="/account/@User.Address" class="btn btn-sm btn-light"
                data-bs-toggle="popover" data-bs-placement="right">
            @if(Limit is null)
            {
                @User.Name
            } else
            {
                @User.Name.Shorten(Limit.Value)
            }
        </a>
    </TogglePopoverContent>
    <PopoverContent>
        @User.Name
    </PopoverContent>
</Popover>

@code {
    [Parameter] public required UserAddressDto User { get; set; }
    [Parameter] public int? Limit { get; set; } = null;
}
