<footer class="footer">
    <div class="container">
        <div class="text-center">
            Copyright © @DateTime.Now.Year Polkanalysis
            <div class="ml-2 icon">
                <a href="https://github.com/Apolixit/moneypot-blazor" target="_blank">
                    <i class="zmdi zmdi-github-alt"></i>
                </a>
            </div>
        </div>
    </div>
</footer>