<footer class="py-1">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2">Contact</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">Web3 Grants</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">About</a></li>

        <li class="nav-item">
            <a href="https://github.com/Apolixit/Polkanalysis" class="nav-link px-2" target="_blank">
                <i class="bi bi-github"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="https://twitter.com/home" class="nav-link px-2" target="_blank">
                <i class="bi bi-twitter"></i>
            </a>
        </li>
    </ul>
    <p class="text-center">Copyright © @DateTime.Now.Year Polkanalysis</p>
</footer>
