@page "/"

<!--Start Dashboard Content-->
<div class="row row-group m-0">
    <div class="col-12 col-xl-6 border-light">
        <BlockchainIdentity />
    </div>
    <div class="col-12 col-xl-6 border-light">
        <BlockchainStats />
    </div>
</div>

<div class="row">
    <div class="col-12 col-xl-6">
        <LatestBlock></LatestBlock>
    </div>

    <div class="col-12 col-xl-6">
        <LatestExtrinsics></LatestExtrinsics>
    </div>
</div>