@using Polkanalysis.Components.Services;
@using Polkanalysis.Domain.Contracts.Dto.Staking.Pool;
@using Polkanalysis.Domain.Contracts.Dto.Staking.Validator;
@using Polkanalysis.Domain.Contracts.Primary.Staking.Pools;

@inject NavigationManager _navigationManager;

<tr>
    <td scope="row">
        @Validator.StashAddress.Name.Shorten(30)
    </td>
    <td class="text-right">
        @Validator.SelfBonded
    </td>
    <td class="text-right">
        @Validator.TotalBonded
    </td>
    <td class="text-right">
        @Validator.NbNominatorsVote
    </td>
    <td>
        <button class="btn btn-primary btn-sm"
                @onclick="(() => GoToDetails(Validator.StashAddress.Address))">
            <i class="bi bi-eye"></i>
            Details
        </button>
    </td>
</tr>

@code {
    [Parameter] public ValidatorLightDto Validator { get; set; }

    protected void GoToDetails(string validatorAddress)
    {
        _navigationManager.NavigateTo($"validator/{validatorAddress}");
    }
}
