@using Polkanalysis.Components.Services;
@using Polkanalysis.Domain.Contracts.Dto.Staking.Nominator;
@using Polkanalysis.Domain.Contracts.Dto.Staking.Pool;
@using Polkanalysis.Domain.Contracts.Dto.Staking.Validator;
@using Polkanalysis.Domain.Contracts.Dto.User;
@using Polkanalysis.Domain.Contracts.Primary.Staking.Pools;

@inject NavigationManager _navigationManager;

<tr>
    <td scope="row">
        @Account.Address.Name.Shorten(30)
    </td>
    <td class="text-right">
        @Account.Balances.TotalCurrency
    </td>
    <td>
        <button class="btn btn-primary btn-sm"
                @onclick="(() => GoToDetails(Account.Address.Address))">
            <i class="bi bi-eye"></i>
            Details
        </button>
    </td>
</tr>

@code {
    [Parameter] public AccountLightDto Account { get; set; }

    protected void GoToDetails(string accountAddress)
    {
        _navigationManager.NavigateTo($"account/{accountAddress}");
    }
}
