@page "/pools"
@using Polkanalysis.Domain.Contracts.Dto.Staking.Pool;
@using Polkanalysis.Domain.Contracts.Primary.Staking.Pools;
@using Polkanalysis.Components.Substrate.Staking.Pool.Views;

@inject IMediator _mediator;

<DataCall MediatorReq="mediatorRequest" Context="Pools">
    <Breadcrumb Elements="breadcrumbDtos" />

    <div class="card">
        <div class="card-body">
            <ComponentListView Elems="Pools">
                <CardView>
                    <PoolItemCard Pool="context" />
                </CardView>
                <TableView>
                    <PoolTable Pools="Pools" TableDisplay="GlobalSettings.TableDisplayType.Full" />
                </TableView>
            </ComponentListView>
        </div>
    </div>
</DataCall>

@code {
    private Task<Result<IEnumerable<PoolLightDto>, ErrorResult>>? mediatorRequest;
    private IEnumerable<BreadcrumbDto> breadcrumbDtos = new List<BreadcrumbDto>()
    {
        new BreadcrumbDto("Pools", "/pools")
    };

    protected override void OnInitialized()
    {
        mediatorRequest = _mediator.Send(new PoolsQuery(), CancellationToken.None);
    }
}
