@page "/pools"
@using Polkanalysis.Domain.Contracts.Dto.Staking.Pool;
@using Polkanalysis.Domain.Contracts.Primary.Staking.Pools;

@inject IMediator _mediator;

<DataCall MediatorReq="mediatorRequest" Context="Pools">
    <Breadcrumb Elements="breadcrumbDtos" />

    <div class="card">
        <div class="card-body">
            <ComponentListView Elems="Pools">
                <CardView>
                    <Polkanalysis.Components.Substrate.Staking.Pool.Views.PoolItemCard Pool="context" />
                </CardView>
                <TableView>
                    <Table Elems="Pools" Context="tablePool">
                        <ThContent>
                            <td scope="col">Pool name</td>
                            <td scope="col">Nb members</td>
                            <td scope="col">Commission</td>
                            <td scope="col">Total bonded</td>
                            <td scope="col"></td>
                        </ThContent>
                        <TbodyContent>
                            <Polkanalysis.Components.Substrate.Staking.Pool.Views.PoolItemTable Pool="tablePool" />
                        </TbodyContent>
                    </Table>
                </TableView>
            </ComponentListView>
        </div>
    </div>
</DataCall>

@code {
    private Task<Result<IEnumerable<PoolLightDto>, ErrorResult>>? mediatorRequest;
    private IEnumerable<BreadcrumbDto> breadcrumbDtos = new List<BreadcrumbDto>()
    {
        new BreadcrumbDto("Pools", "/pools")
    };

    protected override void OnInitialized()
    {
        mediatorRequest = _mediator.Send(new PoolsQuery(), CancellationToken.None);
    }
}
