@page "/parachains"
@using OperationResult;
@using Polkanalysis.Domain.Contracts.Dto.Parachain;
@using Polkanalysis.Domain.Contracts.Primary.Parachain;
@inject IMediator _mediator;

<DataCall MediatorReq="mediatorRequest" Context="Parachains">
    <Polkanalysis.Components.Shared.Breadcrumb Elements="breadcrumbDtos" />

    <div class="card">
        <div class="card-body">
            <ComponentListView Elems="Parachains">
                <CardView>
                    <Polkanalysis.Components.Substrate.Parachain.Views.ParachainItemCard Parachain="context" />
                </CardView>
                <TableView>
                    <Polkanalysis.Components.Substrate.Parachain.Views.ParachainTable Parachain="context" />
                </TableView>
            </ComponentListView>
        </div>
    </div>
</DataCall>

@code {
    private Task<Result<IEnumerable<ParachainLightDto>, ErrorResult>>? mediatorRequest;
    private IEnumerable<BreadcrumbDto> breadcrumbDtos = new List<BreadcrumbDto>()
        {
            new BreadcrumbDto("Parachains", "/parachains")
        };

    protected override void OnInitialized()
    {
        mediatorRequest = _mediator.Send(new ParachainsQuery(), CancellationToken.None);
    }
}
