@using static Polkanalysis.Components.Shared.GlobalSettings;
<div class="d-flex flex-row justify-content-end mb-3">
    <div class="btn-group" role="group">
        <FluentButton 
            Appearance="Appearance.Accent" 
            Class="btn-card-element"
            IconStart="@(new PolkanalysisIcons.BootstrapIcon.CardText())"
                      @onclick="(() => OnViewChanged(ViewDisplayType.CardElement))" />
        <FluentButton 
            Appearance="Appearance.Accent"
                      Class="btn-table-element"
            IconStart="@(new PolkanalysisIcons.BootstrapIcon.Table())"
                      @onclick="(() => OnViewChanged(ViewDisplayType.TableRaw))" />
    </div>
</div>

@code {
    [Parameter] public EventCallback<ViewDisplayType> OnViewSelected { get; set; }

    public void OnViewChanged(ViewDisplayType viewType)
    {
        OnViewSelected.InvokeAsync(viewType);
    }
}
