@using Polkanalysis.Components.Services;
@using Polkanalysis.Domain.Contracts.Dto.User;

<Popover>
    <TogglePopoverContent>
        <button type="button" class="btn btn-sm btn-light"
                data-bs-toggle="popover" data-bs-placement="right">
            @User.Name.Shorten(10)
        </button>
    </TogglePopoverContent>
    <PopoverContent>
        @User.Name
    </PopoverContent>
</Popover>

@code {
    [Parameter] public required UserAddressDto User { get; set; }
}
