@using Polkanalysis.Components.Services;
@using Polkanalysis.Domain.Contracts.Dto.Parachain;
@using Polkanalysis.Domain.Contracts.Dto.Staking.Pool;
@using Polkanalysis.Domain.Contracts.Dto.Staking.Validator;
@using Polkanalysis.Domain.Contracts.Primary.Staking.Pools;

@inject NavigationManager _navigationManager;

<tr>
    <td class="text-right">
        @Parachain.ParachainId
    </td>
    <td scope="row">
        @Parachain.Name.Shorten(30)
    </td>
    <td class="text-right">
        @Parachain.ValidatorCount
    </td>
    <td class="text-right">
        @Parachain.CrowdloanId
    </td>
    <td>
        <button class="btn btn-primary btn-sm"
                @onclick="(() => GoToDetails(Parachain.ParachainId))">
            <i class="bi bi-eye"></i>
            Details
        </button>
    </td>
</tr>

@code {
    [Parameter] public ParachainLightDto Parachain { get; set; }

    protected void GoToDetails(uint parachainId)
    {
        _navigationManager.NavigateTo($"parachain/{parachainId}");
    }
}
