@using Microsoft.AspNetCore.Components.Routing
<ul class="sidebar-menu do-nicescrol">
    <li>
        <NavLink href="/" Match="NavLinkMatch.All">
            <i class="bi bi-house"></i> Home
        </NavLink>
    </li>
    <li class="sidebar-header">Explorer</li>
    <li>
        <NavLink href="blocks">
            <i class="bi bi-hash"></i> Blocks
        </NavLink>
    </li>
    <li>
        <NavLink href="extrinsics">
            <i class="bi bi-journal-album"></i> Extrinsics
        </NavLink>
    </li>

    <li class="sidebar-header">Runtime</li>
    <li>
        <NavLink href="modules">
            <i class="bi bi-infinity"></i> Modules
        </NavLink>
    </li>

    <li class="sidebar-header">Staking</li>
    <li>
        <NavLink href="pools">
            <i class="bi bi-stack"></i> Pools
        </NavLink>
    </li>
    <li>
        <NavLink href="validators">
            <i class="bi bi-person-fill-check"></i> Validators
        </NavLink>
    </li>
    <li>
        <NavLink href="nominators">
            <i class="bi bi-person-hearts"></i> Nominators
        </NavLink>
    </li>

    <li class="sidebar-header">Parachains</li>
    <li>
        <NavLink href="parachains">
            <i class="bi bi-link-45deg"></i> Parachain
        </NavLink>
    </li>
    <li>
        <NavLink href="crowdloans">
            <i class="bi bi-coin"></i> Crowloans
        </NavLink>
    </li>
</ul>


@code {

}
