@page "/"

<!--Start Dashboard Content-->
<FluentGrid AdaptiveRendering="true" Justify="JustifyContent.FlexStart">
    <FluentGridItem xs="12" sm="6">
        <FluentLabel Typo="Typography.PaneHeader">Polkadot</FluentLabel>
        <div class="p-4">
            <BlockchainIdentity />
        </div>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="6">
        <FluentLabel Typo="Typography.H2">Summary datas</FluentLabel>
        <div class="p-4">
            <BlockchainStats />
        </div>
    </FluentGridItem>

    <FluentGridItem xs="12" sm="6">
        <FluentLabel Typo="Typography.H2">
            <FluentIcon Value="@(new PolkanalysisIcons.PolkadotIcons.BlockNumber())" />
            Latest blocks
        </FluentLabel>
        <div class="p-4">
            <LatestBlock />
        </div>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="6">
        <FluentLabel Typo="Typography.H2">
            <FluentIcon Value="@(new PolkanalysisIcons.BootstrapIcon.Coin())" />
            Price Histo
        </FluentLabel>
        <div class="p-4">
            <Polkanalysis.Components.Substrate.Price.PriceHisto />
        </div>
    </FluentGridItem>

    <FluentGridItem xs="12" sm="6">
        <FluentLabel Typo="Typography.H2">
            <FluentIcon Value="@(new PolkanalysisIcons.PolkadotIcons.Staking())" />
            Staking
        </FluentLabel>
        <div class="p-4">
            <StakingSummary />
        </div>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="6">
        <FluentLabel Typo="Typography.H2">
            <FluentIcon Value="@(new PolkanalysisIcons.PolkadotIcons.Parachains())" />
            Parachains
        </FluentLabel>
        <div class="p-4">
            <ParachainSummary />
        </div>
    </FluentGridItem>
</FluentGrid>
@* 
<div class="row mb-3">
    <div class="col-sm-6 border-light">
        <div class="card h-100">
            <StakingSummary />
        </div>
    </div>
    <div class="col-sm-6 h-100 border-light">
        <div class="card mb-3">
            <BlockchainStats />
        </div>
        
    </div>
</div>

<div class="row mb-3">
    <div class="col-12 col-xl-6">
        <LatestBlock />
    </div>

    <div class="col-12 col-xl-6">
        <Polkanalysis.Components.Substrate.Price.PriceHisto />
    </div>
</div>


<div class="row mb-3">
    <div class="col-sm-6 border-light">
        <div class="card h-100">
            <StakingSummary />
        </div>
    </div>
    <div class="col-sm-6 h-100 border-light">
        <div class="card h-100">
            <ParachainSummary />
        </div>

    </div>
</div> *@