@inherits LayoutComponentBase

<PageTitle>Polkanalysis.WebApp</PageTitle>

<div class="page">
    <h1>Hellooo !!</h1>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
