<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="Polkanalysis.App.styles.css" />
    <link href="_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css" rel="stylesheet" />

    <!--favicon-->
    <link rel="icon" href="_content/Polkanalysis.Components/assets/images/favicon.ico" type="image/x-icon">
    <!-- Vector CSS -->
    @* <link href="_content/Polkanalysis.Components/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" /> *@
    <!-- simplebar CSS-->
    <link href="_content/Polkanalysis.Components/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="_content/Polkanalysis.Components/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="_content/Polkanalysis.Components/assets/css/bootstrap-icons.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="_content/Polkanalysis.Components/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="_content/Polkanalysis.Components/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    @* <link href="_content/Polkanalysis.Components/assets/css/sidebar-menu.css" rel="stylesheet" /> *@
    <!-- Custom Style-->
    @* <link href="_content/Polkanalysis.Components/assets/css/app-style.css" rel="stylesheet" /> *@
    
    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.lib.module.js" type="module" async></script>
    <script app-name="Polkanalysis" src="./_content/Microsoft.FluentUI.AspNetCore.Components/js/initializersLoader.webview.js"></script>
    <script src="_framework/blazor.webview.js"></script>

    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/js/loading-theme.js" type="text/javascript"></script>
    <loading-theme storage-name="polkanalysisTheme"></loading-theme>

    <link rel="stylesheet" href="app.css" />

    <title>Polkanalysis</title>
    <HeadOutlet />
</head>

<body class="bg-theme bg-theme-polkadot w-100 h-100">
    <Routes @rendermode="InteractiveServer" />

    <!-- Bootstrap core JavaScript-->
    <script src="_content/Polkanalysis.Components/assets/js/jquery.min.js"></script>
    <script src="_content/Polkanalysis.Components/assets/js/bootstrap.min.js"></script>
    <script src="_content/Polkanalysis.Components/assets/js/popper.min.js"></script>

    <!-- simplebar js -->
    <script src="_content/Polkanalysis.Components/assets/plugins/simplebar/js/simplebar.js"></script>
    <!-- sidebar-menu js -->
    <script src="_content/Polkanalysis.Components/assets/js/sidebar-menu.js"></script>
    <!-- loader scripts -->
    @* <script src="_content/Polkanalysis.Components/assets/js/jquery.loading-indicator.js"></script> *@
    <!-- Custom scripts -->
    @* <script src="_content/Polkanalysis.Components/assets/js/app-script.js"></script> *@
    <!-- Chart js -->
    <script src="_content/Polkanalysis.Components/assets/plugins/Chart.js/Chart.min.js"></script>

    <!-- Index js -->
    @* <script src="_content/Polkanalysis.Components/assets/js/index.js"></script>
    <script src="_framework/blazor.server.js"></script> *@

    <script src="_content/Blazor-ApexCharts/js/apex-charts.min.js"></script>
    <script src="_content/Blazor-ApexCharts/js/blazor-apex-charts.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
