@page "/validators"

@using OperationResult;
@using Polkanalysis.Components.Dto;
@using Polkanalysis.Domain.Contracts.Dto.Staking.Validator;
@using Polkanalysis.Domain.Contracts.Primary.Staking.Validators;
@using Polkanalysis.Components.Substrate.Staking.Validator.Views;

@inject IMediator _mediator;

<DataCall MediatorReq="mediatorRequest" Context="Validators">
    <Polkanalysis.Components.Shared.Breadcrumb Elements="breadcrumbDtos" />

    <div class="card">
        <div class="card-body">
            <ComponentListView Elems="Validators">
                <CardView>
                    <ValidatorItemCard Validator="context" />
                </CardView>
                <TableView>
                    <ValidatorTable Validators="Validators" />
                </TableView>
            </ComponentListView>
        </div>
    </div>
</DataCall>

@code {
    private Task<Result<IEnumerable<ValidatorLightDto>, ErrorResult>>? mediatorRequest;
    private IEnumerable<BreadcrumbDto> breadcrumbDtos = new List<BreadcrumbDto>()
        {
            new BreadcrumbDto("Validators", "/validators")
        };

    protected override void OnInitialized()
    {
        mediatorRequest = _mediator.Send(new ValidatorsQuery(), CancellationToken.None);
    }
}
