@using Microsoft.FluentUI.AspNetCore.Components.DesignTokens;

<FluentFooter>
    <div class="d-flex flex-row">
        <div class="p-2"><FluentNavLink Href="https://github.com/SubstrateGaming">Substrate Gaming</FluentNavLink></div>
        <div class="p-2"><FluentNavLink Href="contact">Contact</FluentNavLink></div>
        <div class="p-2"><FluentNavLink Href="about">About</FluentNavLink></div>
    </div>

    <div class="d-flex flex-row-reverse">
        <div class="p-2">
            <a href="https://github.com/Apolixit/Polkanalysis" class="nav-link px-2" target="_blank">
                <FluentIcon Value="@(new PolkanalysisIcons.BootstrapIcon.Github())" />
            </a>
        </div>
        <div class="p-2 text-center w-100">
            Copyright © @DateTime.Now.Year Polkanalysis
        </div>
    </div>

</FluentFooter>
