@page "/nominators/"
@using Polkanalysis.Domain.Contracts.Dto.Staking.Nominator;
@using Polkanalysis.Domain.Contracts.Primary.Staking.Nominators;
@using Polkanalysis.Components.Substrate.Staking.Nominator.Views;

@inject IMediator _mediator;

<DataCall MediatorReq="mediatorRequest" Context="Nominators">
    <Breadcrumb Elements="breadcrumbDtos" />

    <div class="card">
        <div class="card-body">
            <ComponentListView Elems="Nominators">
                <CardView>
                    <NominatorItemCard Nominator="context" />
                </CardView>
                <TableView>
                    <NominatorTable Nominators="Nominators"></NominatorTable>
                </TableView>
            </ComponentListView>
        </div>
    </div>
</DataCall>

@code {
    private Task<Result<IEnumerable<NominatorLightDto>, ErrorResult>>? mediatorRequest;
    private IEnumerable<BreadcrumbDto> breadcrumbDtos = new List<BreadcrumbDto>()
        {
            new BreadcrumbDto("Nominators", "/nominators")
        };

    protected override void OnInitialized()
    {
        mediatorRequest = _mediator.Send(new NominatorsQuery(), CancellationToken.None);
    }
}
