@using MediatR.Courier;
@using MediatR;
@using Polkanalysis.Domain.Contracts.Dto.Block;
@using Polkanalysis.Domain.Contracts.Primary.Notification;
@using Polkanalysis.Domain.Contracts.Primary;
@using Polkanalysis.Domain.Contracts.Secondary.Repository;

@inject IExplorerRepository _blockRepository;
@inject NavigationManager _navigationManager;

<div class="card h-100">
    <div class="card-header">
        <i class="bi bi-hash"></i> Latest block
    </div>
    <div class="card-body">
        <div class="row row-cols-2 row-cols-md-4 row-cols-sm-3 g-4">
            <BlockListing NbBlockMax="10"></BlockListing>
        </div>
    </div>
</div>

@code {
    
}
